*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100vw;
    height: 60px;
    background-color: darkgrey;
    display: flex;
    text-align: center;
    align-items: center;
    
}
.navbar a{
    margin: 10px;
    justify-content: center;
    
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100vw;
    margin: auto;

}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
}
input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid blue;
    border-radius: 4px;

}
button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: darkgreen;

}
.login-container { 
    margin: auto;
    width: 60vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px darkblue;
}
.title {
    text-align: center;
    padding: 15px;

}